.wrap_header {
	margin-left: 40px;
}

.wrap_form {
	margin: 20px auto 0;
  max-width: 255px;
}

.wrap_form_link {
	margin: 10px 0 0;
}

.button {
	display: block;
	border: none;
	border-radius: 30px;
	font-size: 16px;
	padding: 14px 25px;
	font-weight: 600;
	width: 100%;
	color: #fff;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,.19);
}

.link {
	display: inline-block;
	text-align: right;
	color: #34a4eb;
	padding: 0;
	background: transparent;
	box-shadow: none;
}

.bordered {
	color: #34a4eb;
	background-color: #fff;
	padding: 13px 25px;
	border: 1px solid #34a4eb;
	box-shadow: none;
}

.success {
	background-color: #33d98e;
}

.primary {
	background-color: #35d0de;
}

.avatar {
	background-color: #fff;
}