.password_field {
	position: relative;
	color: #3b393a;
	font-size: 14px;
	margin: 0;
	width: 100%;
	margin-top: 20px;
  font-size: 16px;
  letter-spacing: 0.05px;
  line-height: 22px;
}

.visibility {
	position: absolute;
	right: 2px;
	bottom: 2px;
	height: 46px;
	width: 46px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	cursor: pointer;
	border-radius: 4px;
}

.show {
	background-image: url(/img/show.svg);
}

.hide {
	background-image: url(/img/hide.svg);
}

.visibility:hover {
	opacity: 0.5;
}