.title {
	text-align: center;
	color: #3b393a;
	font-size: 24px;
	margin: 0;
	font-weight: 700;
	line-height: 1.1;
}

.form {
	text-align: center;
	padding-top: 40px;
}

.other_portails {
	font-size: 15px;
	font-weight: 600;
	text-align: center;
}

.portails_button {
	color: #4aa0d6;
	cursor: pointer;
	white-space: nowrap;
}

.row {
	padding-top: 10px;
	margin-bottom: 20px;
	margin-right: -15px;
	margin-left: -15px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.column {
	width: 50%;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.text {
	margin-top: 60px;
	color: #99b0be;
	font-size: 12px;
}

.link {
	text-decoration: none;
	font-weight: 700;
	color: #4aa0d6;
}