.sign_up {
	background-image: url(/img/sign-up.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding: 100px 0 125px;
}

.content_wrap {
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
	text-align: center;
}

.sign_up_form {
	text-align: center;
	width: 100%;
	max-width: 590px;
	background: #fff;
	border-radius: 6px;
	margin: 0 auto;
	padding: 40px;
}