%position {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

%transition {
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
}

%mw_transform {
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	-o-transform: translate(0);
	transform: translate(0);
	transition: transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out;
}

.overlay {
	@extend %position;
	@extend %transition;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.5);
}

.wrap_window {
	@extend %position;
	@extend %transition;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1001;
}

.modal_window {
	@extend %mw_transform;
	margin: 10px;
	width: auto;
}

.content {
	margin-top: 10%;
	padding: 40px;
	border-radius: 8px;
  background-color: #FFFFFF;
	box-shadow: 0 14px 47px 0 rgba(0,53,151,0.23);
}

@media (min-width: 768px) {
	.modal_window {
    width: 440px;
		margin: 30px auto;
	}
}

@media (min-width: 768px) {
	.sign_up {
		width: 590px;
	}
}