.head {
	display: flex;
	flex-direction: row;
	background-size: cover;
  height: auto;
	width: 100%;
	background-color: #FFFFFF;
	background: radial-gradient(circle, rgba(15,206,119,0.42) 0%, #35DEC8 0%, #1B9BEC 100%);
	padding: 33px 13%;
}

.head_title {
	width: 75%;
	display: inline-block;
	vertical-align: middle;
	font-size: 44px;
	color: #fff;
	margin: 0;
}

.head_button {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,.19);
	color: #33d98e;
	background: #fff;
	max-width: 250px;
	border: none;
	border-radius: 30px;
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	font-size: 16px;
	padding: 14px 25px;
	font-weight: 600;
	font-family: Nunito;
}

.body {
	display: flex;
	flex-direction: row;
	padding: 100px 14%;
}

.links {
	width: 25%;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.title {
	color: #3d99d8;
	font-size: 20px;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.item {
	display: block;
	padding-top: 20px;
	color: #3b393a;
  font-size: 16px;
}


.logo {
	width: 50%;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
	margin: 0 auto;
}

.logo_img {
	width: 170px;
	display: inline-block;
	max-width: 100%;
	height: auto;
}