.filter {
	width: 28%;
	margin-right: 4%;
	margin-bottom: 25px;
}

.filter:nth-child(3n-1) {
	margin-left: 4%;
}

.filter:nth-child(3n) {
	margin-right: 0;
	margin-left: 4%;
}

.select_text {
	font-weight: 600;
	line-height: 50px;
	padding-right: 10px;
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.select_placeholder {
	padding-left: 20px;
	color: #99b0be;
}

.select_value {
	padding-left: 10px;
	color: #333;
}

.wrap_select_icon {
	display: block;
	cursor: pointer;
	position: absolute;
	width: 25px;
	top: 10px;
	right: 15px;
}

.select_icon {
	width: 30px;
	height: 30px;
	position: relative;
	border-radius: 50%;
	background: #35d0de;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	transition: all .1s;
	z-index: 1;
	line-height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 3px;
}

.select_open_icon {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.menu_outer {
	border: none;
	box-shadow: 0 15px 22px 0 rgba(0,0,0,.2);
	width: calc(100% - 1px);
	top: calc(100% + 1px);
	z-index: 45;
	position: absolute;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #fff;
	margin-top: -1px;
	max-height: 200px;
	left: 0;
}

.menu_outer::before {
	display: inline-block;
	position: absolute;
	content: "";
	width: 100%;
	height: 25px;
	background: #fff;
	left: 0;
	top: -25px;
	z-index: 90;
}

.menu {
	max-height: 198px;
	overflow-y: auto;
}

.checkbox_menu {
	position: absolute;
	background: #fff;
	box-shadow: 0 15px 22px 0 rgba(0,0,0,.2);
	border-radius: 0 0 10px 10px;
}

.checkbox_item {
	font-size: 14px;
	line-height: 40px;
	font-weight: 700;
	padding: 0 10px;
	width: 100%;
	margin: 0;
	cursor: pointer;
	position: relative
}

.checkbox {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 10px;
	display: block;
	border-radius: 3px;
	height: 20px;
	width: 20px;
	border: 1px solid #35d0de;
}

.checked {
	background: #35d0de;
}

.checked::before {
	display: block;
	content: "";
	background-image: url(/img/not_checked.svg);
	background-size: cover;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 12px;
	height: 12px;
}

.option {
	cursor: pointer;
	display: block;
	padding: 8px 10px;
	background-color: #fff;
	color: #666;
	font-weight: 700;
}

.focused, .option:hover {
	background-color: rgba(0,126,255,.08);
  color: #333;
}

.option:last-child {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}