.title {
	text-align: center;
	color: #3b393a;
	font-size: 24px;
	margin: 0;
	font-weight: 700;
	line-height: 1.1;
}

.form {
	margin-top: 40px;
}

.other_portails {
	margin-top: 50px;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
}

.portails_button {
	color: #4aa0d6;
	cursor: pointer;
	white-space: nowrap;
}