.search_wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}

.find_projects {
	background-image: url(/img/projects-background.png);
}

.search {
	width: 100%;
	max-width: 1440px;
	padding: 90px 0 80px;
	display: flex;
}

.panel {
	width: 25%;
	display: flex;
	align-items: center;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
}

.panel_item {
	text-align: center;
	padding-top: 45px;
}

.panel_item:first-child {
	padding: 0;
}

.link {
	display: inline-block;
	text-decoration: none;
}

.item_icon {
	width: 58px;
	height: 58px;
	background: #fff;
	border-radius: 50%;
	padding-top: 4px;
	display: table-cell;
	vertical-align: middle;
	box-shadow: 0 11px 13px 0 rgba(0,0,0,.2);
}

.active_item_icon {
	background: #fdc550;
	width: 115px;
	height: 115px;
	box-shadow: 0 23px 26px 0 rgba(0,0,0,.2);
	border: 3px solid #fff;
}

.item_name {
	font-size: 16px;
	line-height: 27px;
	color: #fff;
	font-weight: 700;
	margin-top: 4px;
}

.active_item_name {
	font-size: 20px;
}

.forms {
	width: 66%;
}

.form_name {
	color: #fff;
	font-size: 55px;
	margin-top: 15px;
	font-weight: 600;
}

.form_name_subtitle {
	font-size: 30px;
}

.wrap_search_field {
	padding-top: 60px;
}

.filters {
	margin-top: 55px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}