.search_field {
	position: relative;
}

.wrap_icon {
	position: absolute;
	top: calc(50% - 10px);
	left: 25px;
	z-index: 62;
}

.field {
	position: relative;
	z-index: 61;
	width: 100%;
}

.label {
	color: #3b393a;
	font-size: 14px;
	margin: 0;
	text-align: left;
	width: 100%;
}

.input {
	background-color: #fff;
  font-size: 18px;
	border-radius: 100px;
	transition: border 0s;
	border: 1px solid #e1e1e1;
	color: #3b393a;
	display: block;
	font-weight: 700;
	margin: 0;
	padding: 13px 17px;
	padding-left: 60px;
	resize: vertical;
	width: 100%;
	outline: none;
}

.input::placeholder {
	color: #99B0BE;
}

.input:hover {
	border: 1px solid #35d0de;
}

.wrap_button {
	position: absolute;
	top: calc(50% - 22px);
	right: 10px;
	z-index: 62;
}

.button {
	display: block;
	font-size: 16px;
	background-color: #35d0de;
	color: #fff;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,.19);
	padding: 11px 28px;
	border: none;
	border-radius: 30px;
	font-weight: 600;
	font-family: Nunito;
	width: 100%;
}