.pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
	border-radius: 4px;
}

.button {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 52px;
	justify-content: center;
	width: 52px;
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
}

.disabled {
	background-color: rgba(153,176,190,.11);
  border: 1px solid transparent;
	cursor: pointer;
	opacity: .5;
}

.item {
	cursor: pointer;
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	align-items: center;
	background-color: rgba(153,176,190,.11);
	border: 1px solid transparent;
	color: #3b393a;
	display: flex;
	height: 52px;
	justify-content: center;
	width: 52px;
	font-size: 17px;
	font-weight: 600;
	margin: 0;

	&:first-child {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	
	&:last-child {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}

.item:hover {
	color: rgba(42,139,157,.6);
}

.active {
	background-color: rgba(53,208,222,.17);
	border: none;
	font-size: 17px;
	font-weight: 600;
	color: #35d0de;
	align-items: center;
	cursor: default;
	display: flex;
	height: 52px;
	justify-content: center;
	width: 52px;
	z-index: 3;
}

.prev_item {
	-webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
