.item {
	position: relative;
	width: 33.33333333%;
	padding: 15px;
	background-color: #fff;
	border: 1px solid #e1e1e1;
	text-align: center;
	width: 100%;
	overflow: hidden;
}

.head {
	position: relative;
}

.item_icon {
	position: absolute;
	left: 6px;
  top: 6px;
}

.item_name {
	background-color: rgba(0,0,0,.6);
	color: #fff;
	display: inline-block;
	font-size: 13px;
	left: -10px;
	padding: 0 10px 0 18px;
	position: relative;
	z-index: 1;
	height: 22px;
	line-height: 22px;
}

.item_img {
	position: relative;
	display: block;
	min-height: 200px;
	width: 100%;
	height: 100%;
}

.img {
	max-width: 100%;
	max-height: 200px;
	display: block;
	height: 100%;
	width: 100%;
}

.item_avatar {
	width: 72px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: -55px;
	padding: 6px;
  height: 72px;
}

.avatar_img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
	min-width: 100%;
	width: 100%;
}

.item_title {
	color: #3b393a;
	display: block;
	font-size: 19px;
	line-height: 22px;
	font-weight: 600;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 1;
}

.item_loc {
	display: block;
	color: #99b0be;
	margin-top: 5px;
	line-height: 22px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 1;
}

.item_user {
	color: #34a4eb;
	font-size: 14px;
	margin-top: 4px;
	line-height: 22px;
}

.item_description {
	word-break: break-word;
	color: grey;
	height: 100px;
	max-width: 100%;
	overflow: hidden;
	font-size: 15px;
	line-height: 22px;
	text-align: left;
	margin-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 3;
}

.item_button {
	background: #33d98e;
	color: #fff;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,.19);
	margin-top: 10px;
	border: none;
	border-radius: 30px;
	display: block;
	font-size: 16px;
	padding: 14px 25px;
	font-weight: 600;
	font-family: Nunito;
	width: 100%;
}

.body {
	position: relative;
	padding: 25px 20px 20px;
}