@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body {
  color: #3b393a;
  height: 100%;
  font-family: Nunito;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  margin: 0;
}

button {
  outline: 0;
	cursor: pointer;
}

div {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: disc;
}

li {
  text-align: -webkit-match-parent;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

