.header_wrap {
	position: relative;
	z-index: 900;
	height: auto;
	width: 100%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.header {
	max-width: 1440px;
	width: 100%;
	background-color: #FFFFFF;
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 12px;
	margin-left: auto;
	margin-right: auto;
}

.logo_wrap {
	margin-top: -5px;
	width: 20%;
}

.logo {
	display: block;
	width: 170px;
}

.logo_img {
	display: block;
	max-width: 100%;
}

.search_img {
	vertical-align: middle;
	padding-right: 10px;
}

.menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: right;
	width: 100%;
}

.list {
	width: auto;
	display: flex;
	flex-direction: row;
	list-style: none;	
	align-content: center;
	justify-content: flex-end;
}

.nav {
	color: #3b393a;
	font-size: 16px;
	display: flex;
	align-items: center;
	margin-left: 45px;
}

.nav:first-child {
	margin: 0;
}