.text_field {
	color: #3b393a;
	font-size: 14px;
	margin: 0;
	text-align: left;
	width: 100%;
	margin-top: 20px;
  font-size: 16px;
  letter-spacing: 0.05px;
  line-height: 22px;
}

.password_field {
	display: block;
	text-align: left;
	margin: 0;
}

.text_field:first-child {
	margin-top: 0px;
}

.header {
	padding-bottom: 4px;
	font-weight: 600;
	font-size: 12px;
}

.input {
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #e1e1e1;
	color: #3b393a;
	display: block;
	margin: 0;
	padding: 13px 17px;
	resize: vertical;
	transition: all .2s;
	width: 100%;
}

.input::placeholder {
	color: #99B0BE;
}