.wrap_body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
}

.body {
	margin: 0 auto;
  max-width: 1440px;
	width: 100%;
	padding: 0 5% 40px;
}

.title {
	padding-bottom: 25px;
	padding-top: 55px;
	font-size: 24px;
	color: #898989;
	text-align: center;
}

.list {
	padding: 10px 0 40px;
}